.CommentsHead {
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.1);
}

.reviews {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewsLast, .reviewsAll {
    font-size: 16px;
    font-weight: normal;
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
}

.reviewsActive {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    cursor: auto;
}