.Services {
    width: 90%;
    margin-left: 5%;
    position: relative;
}

.ServicesTable {
    width: calc(100% - 135px);
    position: absolute;
    right: 0;
    border-spacing: 0;
    font-size: 13px;
}

.ServicesTableMiddleTr {
    height: 25px;
}

.ServicesTable td:last-child {
    font-weight: bold;
}

.ServicesTableFirstTr {
    height: 30px;
}

.ServicesTableFirstTr td {
    font-size: 13px;
    border-bottom: 1px solid black;
    font-weight: normal !important;
}
.ServicesTableLastTr {
    height: 40px;
}

.ServicesTableLastTr td {
    border-top: 1px solid black;
    font-size: 16px;
    font-weight: bold;
}
